html, body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

#page{
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;
}

#table{
    margin-left: 100px;
    height: 80vh;
    width: auto;
    display: grid;
}

.position{
    display: flex;
    justify-content: center;
    align-items: center;
}

.position *{
    width: 80%;
    height: 80%;
}