html, body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#page{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table{
    height: auto;
    width: auto;
    color: white;
    font-family: monospace;
    font-size: 10pt;
    filter: opacity(0.7);
}